$color1: #fff;
$color2: #000;
$text-align: center;

.type-lienhe {
    .banner-bg {
        background-image: url(../images/lienhe.png);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 400px;
        opacity: 0.8;
        left: 20px;
    }
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: #f1faff;
        border-radius: 4px;
        .banner-title {
            text-transform: uppercase;
            font-size: 30px;
            color: royalblue;
            line-height: 20px;
            font-weight: 700;
            font-family: monospace;
            padding-bottom: 20px;
        }
        .contact-left {
            line-height: 1.5;
        }
        i.fa.fa-circle {
            font-size: 7px;
        }
        label {
            color: royalblue;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .contact-address {
            line-height: 23px;
            font-weight: bold;
        }
        .require {
            color: red;
        }
        .title-name {
            color: #000;
            font-weight: bold;
        }
        .submit {
            float: right;
            margin: 15px;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            background: #00305b;
            border-radius: 10px;
            &:hover {
                background: #fff;
                color: #00bfff;
            }
        }
    }
    .sidebar {
        .sidebar-title {
            margin-bottom: 25px;
        }
        .sidebar-navigation_link a {
            font-size: 14px;
            font-weight: 700;
            border-radius: 25px;
            text-decoration: none;
            padding: 5px 12px;
            background-color: #00305b;
            color: #fff;
            &:hover {
                color: #00bfff;
                background: #fff;
            }
        }
        .sidebar-navigation_link1 a {
            font-size: 14px;
            font-weight: 700;
            border-radius: 25px;
            text-decoration: none;
            padding: 5px 12px;
            color: #000;
        }
    }
    .news-title {
        font-size: 24px;
        line-height: 1.5;
    }
    .icon1 {
        font-size: 24px;
        font-weight: bold;
        color: blue;
        line-height: 1.5;
        text-align: center;
    }
}
