$color1: #fff;
$color2: #000;
$text-align: center;

.type-lienhe {
    .banner-bg {
        background-image: url(../images/lienhe.png);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 400px;
        opacity: 0.8;
        left: 20px;
    }
    .breadcrumb {
        padding: 8px 20px;
        margin-bottom: 20px;
        list-style: none;
        background-color: #fff;
        box-shadow: 0 1px 5px #888;
        .banner-title {
            color: #ff7a00;
            font-size: 20px;
            text-transform: uppercase;
            background: #0270b5;
            padding-left: 20px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
        }
        .contact-left {
            line-height: 1.5;
        }
        i.fa.fa-circle {
            font-size: 7px;
        }
        label {
            color: royalblue;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .contact-address {
            line-height: 23px;
            font-weight: bold;
        }
        .require {
            color: red;
        }
        .title-name {
            color: #000;
            font-weight: bold;
        }
        textarea {
            margin: 0px;
            width:345px;
            height: 118px;
            overflow: auto;
            resize: auto;
            background-color: #fff;
          
        }
        .submit {
            float: right;
            margin: 15px;
            text-transform: uppercase;
            color: #ff7a00;
            font-size: 20px;
            font-weight: bold;
            line-height: 23px;
            background: #0270b5;
            border-radius: 10px;
            &:hover {
                background: #fff;
                color: #00bfff;
            }
        }
    }
    .sidebar {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 5px #888;
        margin-bottom:20px;
        .sidebar-title {
            margin-bottom: 25px;
            color: #ff7a00;
            font-size: 20px;
            text-transform: uppercase;
            background: #0270b5;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
           text-align: center;
        }
        .sidebar-navigation_link a {
            font-size: 14px;
            font-weight: 700;
            border-radius: 25px;
            text-decoration: none;
            padding: 5px 12px;
            background-color: #00305b;
            color: #fff;
            &:hover {
                color: #fff;
                background: #ff7a00;
            }
        }
        .sidebar-navigation_link1 a {
            font-size: 14px;
            font-weight: 700;
            border-radius: 25px;
            text-decoration: none;
            padding: 5px 12px;
            color: #000;
        }
    }
    .news-title {
        font-size: 24px;
        line-height: 1.5;
    }
    .icon1 {
        font-size: 24px;
        font-weight: bold;
        color: blue;
        line-height: 1.5;
        text-align: center;
    }
}
