$bg-title: #0270b5;
$color-nav: #dba510;
$bg-navh:  #dba510;
$color-navh: #000;
body {
    background-image: url("../images/bg-body.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*Header*/
.header {
    padding: 40px 0px;

    background-color: #fff;

    .name {
        padding-top: 50px;
        color: red;
    }
    .formlogin {
        height: 20px;
        float: right;
        padding-top: 22px;
        padding-right: 20px;

        .login {
            color: blue;
            background: #81daf5;
            border: 1px solid #81daf5;
        }
    }
}
//Nav
.bg-nav {
    background-color: $bg-title;

    .nav {
        .nav-item {     
            color: $color-nav ;       
            padding: 10px 58px;
            .nav-link {
                
            color: $color-nav ;  
                text-align: center;
                padding: 0px 10px;
                font-size: 19px;
                text-transform: uppercase;
            }
            &:hover{
                .nav-link{
                    color: $color-navh;
                }
            
            background-color: $bg-navh;
        }
        }
       
    }
}
@media only screen and (max-width: 993px) {
    nav {
        overflow: hidden;

        margin: 0;
        li {
            padding: 5px !important;
            a {
                padding: 0;
                font-size: 17px !important;
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .nav {
        li {
            padding: 10px 40px;
        }
    }
}
// Cac loai ve
.type-new {
    background-color: #266999;
    padding: 30px 0;
    .title {
        font-family: Bebeboo-Regular;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
        line-height: 1.4;
        padding: 5px;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
        &::before {
            content: "";
            width: 40px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 15px;
            top: 39px;
        }
    }
    .content {
        .title-seo {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: Bebeboo-Regular;
            font-weight: 500;
            line-height: 16px;
            color: #fff;
            &:hover {
                color: red;
                list-style: none;
                text-decoration: none;
            }
        }
    }
}


/* footer */
.footer {
    background-color: #266999;
    color: #fff;
    padding: 30px 0;

    p {
        font-size: 20px;
    }
    h5 {
        font-size: 30px;
        padding-bottom: 25px;
        padding-top: 20px;
    }
    h4 {
        padding-bottom: 25px;
        padding-top: 20px;
    }

    .mail {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        font-size: 20px;
    }

    i {
        border: #fff solid 1px;
        padding: 10px;
        border-radius: 15px;
        margin: 2px;
        .icon {
            text-align: left;
        }
    }
}
