/*content*/

//  Khung hiện thị địa điểm đi và đến
.mes {
    color: blue;
    background-color: #fff;
    padding: 10px;

    &-title {
        line-height: 30px;
    }
    &-im {
        display: block;
        padding: 15px 5px;
        text-align: right;
        .left {
            float: left;
        }
    }
    .place {
        background-image: url("../images/bg/bg-diadiemjpg.jpg");
        background-repeat: no-repeat;
        padding: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
}

.ce-title-line {
    width: 20%;
    height: 4px;
    background-color: #fccb06;
    margin: 15px 88% 0 auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.khoangcach {
    height: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;

    /* Style the buttons that are used to open the tab content */
    .tablinks {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 26px;
        transition: 0.3s;
        margin: 0 2px;
        background-color: #ddd;

        /* Change background color of buttons on hover */
        &:hover {
            background-color: #fff;
        }

        /* Create an active/current tablink class */
        &.active {
            background-color: #fff;
            color: red;
            border-top: red solid 3px;
        }
    }
}
@media only screen and (max-width: 775px) {
    .tablinks {
        padding: 9px 3px !important;
        font-size: 13px;
    }
    }


/* Style the tab content */
.tabcontent {
    display: none;

    border-top: none;
    animation: fadeEffect 1s;

    .itemfli {
        border-top: #000 solid 1px;
        background-color: cornsilk;

        .fli {
            width: 145px;
            padding: 15px 0;

            text-align: center;
        }

        .price {
            color: red;
        }
    }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.puil-information {
    padding: 20px;
}
.big-font {
    padding-right: 20px;
    border: 1px solid #b7aeae;
    padding: 20px;
    .line1 {
        padding-bottom: 20px;
        .inside1 {
            color: #08088a;
            font-size: 13px;
            line-height: 23px;
            font-weight: bold;
            font-family: monospace;
            padding: 20px;
        }
    }
    .line3 {
        .phone {
            padding: 20px;
            font-size: 13px;
            line-height: 23px;
            font-weight: bold;
            font-family: monospace;
            color: #08088a;
        }
    }
}

//khung tim chuyen bay
.find {
    padding-bottom: 20px;
    border: 1px solid;

    .find-banner {
        border-bottom: 1px dotted red;
        padding: 20px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
    }
    .find-select {
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    }
    label {
        padding-left: 10px;
    }
    .btn {
        padding-right: 20px;
        text-align: right;
        &:hover {
            color: red;
            background-color: #b7aeae;
        }
    }

    .submit {
        text-align: center;
        padding: 5px;
        background-color: aqua;
        color: #000;
        border: none;
        font-size: 18px;
        line-height: normal;
        font-weight: bold;
        font-family: monospace;
    }
}

//khung sap xep
.sort {
    border: 1px solid #b7aeae;
    padding: 20px;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    font-family: monospace;
}
    


//khung bo loc
.filter {
    border: 1px solid #b7aeae;
    padding-left: 20px;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    font-family: monospace;
}

.puil-banner {
    border-right: 1px dotted;
}

//khung hinh thuc thanh toan
.puil-service {
    border: 1px solid #b7aeae;

    .service-header {
        padding: 20px;

       
        .bank1 {
            font-size: 13px;
            line-height: 23px;
            font-weight: bold;
            font-family: monospace;
        }
    }
}

//Khung mua ve qua chat 
.chatlist {
    padding: 20px;

    .chat1 {
        margin-left: 20px;
    }
}
.big-title {
    border-bottom: 1px dotted red;
    padding-bottom: 10px;
    color: red;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


td,
th {
    padding-left: 20px;
}
