.maincontent {
    margin: 10px 0;
    .information-content {
        float: left;
        position: relative;

        .box-heading-h3 {
            height: 39px;
            display: block;
            width: 100%;
            z-index: 999;
            .box-heading {
                display: block;
                float: left;
                height: 30px;
                line-height: 30px;
                width: 100%;
            }
            .large-title {
                font-size: 20px;
                font-weight: normal;
                height: 35px;
                line-height: 30px;
                margin-bottom: 10px;
                text-transform: uppercase;
                .title {
                    color: #ff7a00;
                    font-size: 20px;
                    text-transform: uppercase;
                    background: #0270b5;
                    padding-left: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 5px;
                }
            }
        }
        .message_selectpayment {
            margin-bottom: 10px;
        }
        .des_success {
            float: left;
            color: #2f359a;
            .confirmbox {
                line-height: 1.5em;
                padding-left: 300px;
                padding-top: 20px;
                h2 {
                    line-height: 20px;

                    color: rgb(255, 97, 0);
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 5px;
                    b {
                        font-size: 16px;
                        color: #fe5815;
                    }
                }
                h3 {
                    margin-bottom: 5px;
                    font-style: italic;
                    font-weight: normal;
                    color: #0f5afd;
                    font-size: 15px;
                }
                p {
                    font-size: 13px;
                    color: #2f359a;
                    .bold {
                        font-weight: bold;
                    }
                }
            }
            .header-confirm {
                background: #292929;
                color: #fff;
                font-size: 13px;
                height: 30px;
                line-height: 30px;
                padding-left: 40px;
                margin: 0;
            }
            table {
                width: 100%;
            }
            .field-table {
                border: 1px solid #ededed;
                margin-bottom: 0;
                padding: 10px;

                table td {
                    line-height: 1.5em;
                    font-size: 13px;
                    color: #000;
                }
            }

            .fil-table {
                border-collapse: collapse;

                padding: 10px;
                margin-bottom: 20px;
                .diadiem {
                    font-size: 12px;
                    font-weight: bold;
                    text-align: left;
                    padding: 7px;
                    color: #999;
                    text-transform: uppercase;
                    .d_title {
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                        color: #d62c25;
                    }
                }
            }
            .confirm_info_total {
                line-height: 50px;

                padding: 10px;
                span {
                    color: #000;
                    font-weight: bold;
                }
            }
            .confirm_info {
                color: #000;
                padding: 10px;
                line-height: 1.5em;
                text-align: justify;
                font-size: 14px;
            }
            .thongbao {
                padding: 10px;
                color: rgb(255, 97, 0);
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
    }
    .lulla{
        padding: 0;
    }
}
