.type-lienhe .banner-bg {
  background-image: url(../images/lienhe.png);
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
  opacity: 0.8;
  left: 20px; }
.type-lienhe .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f1faff;
  border-radius: 4px; }
  .type-lienhe .breadcrumb .banner-title {
    text-transform: uppercase;
    font-size: 30px;
    color: royalblue;
    line-height: 20px;
    font-weight: 700;
    font-family: monospace;
    padding-bottom: 20px; }
  .type-lienhe .breadcrumb .contact-left {
    line-height: 1.5; }
  .type-lienhe .breadcrumb i.fa.fa-circle {
    font-size: 7px; }
  .type-lienhe .breadcrumb label {
    color: royalblue;
    padding-bottom: 5px;
    padding-top: 5px; }
  .type-lienhe .breadcrumb .contact-address {
    line-height: 23px;
    font-weight: bold; }
  .type-lienhe .breadcrumb .require {
    color: red; }
  .type-lienhe .breadcrumb .title-name {
    color: #000;
    font-weight: bold; }
  .type-lienhe .breadcrumb .submit {
    float: right;
    margin: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    background: #00305b;
    border-radius: 10px; }
    .type-lienhe .breadcrumb .submit:hover {
      background: #fff;
      color: #00bfff; }
.type-lienhe .sidebar .sidebar-title {
  margin-bottom: 25px; }
.type-lienhe .sidebar .sidebar-navigation_link a {
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
  padding: 5px 12px;
  background-color: #00305b;
  color: #fff; }
  .type-lienhe .sidebar .sidebar-navigation_link a:hover {
    color: #00bfff;
    background: #fff; }
.type-lienhe .sidebar .sidebar-navigation_link1 a {
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
  padding: 5px 12px;
  color: #000; }
.type-lienhe .news-title {
  font-size: 24px;
  line-height: 1.5; }
.type-lienhe .icon1 {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  line-height: 1.5;
  text-align: center; }
