.type-vequocte {
  padding: 20px; }
  .type-vequocte .lulla {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff; }
    .type-vequocte .lulla .find {
      padding-top: 10px;
      background-color: #0270b5;
      padding-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 1px 5px #888; }
      .type-vequocte .lulla .find .find-banner {
        color: #ff7a00;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px dashed #888; }
      .type-vequocte .lulla .find .form2 {
        float: left; }
    .type-vequocte .lulla .find-select {
      float: left;
      padding-left: 20px;
      padding-right: 20px; }
    .type-vequocte .lulla .submit {
      text-align: center;
      padding: 8px;
      background-color: #ffbc00;
      color: #fff;
      border-radius: 5px;
      border: none;
      text-transform: uppercase;
      font-size: 18px;
      line-height: normal;
      font-weight: bold;
      font-family: monospace; }
    .type-vequocte .lulla label {
      padding-left: 10px; }
    .type-vequocte .lulla .button {
      padding-right: 20px;
      text-align: right;
      border-top: 1px dashed #888;
      padding-top: 10px; }
    .type-vequocte .lulla .button :hover {
      color: #fff;
      background-color: red; }
    .type-vequocte .lulla .cars {
      padding-bottom: 15px; }
    .type-vequocte .lulla .date-time {
      color: #000; }
    .type-vequocte .lulla .font-white {
      color: #fff; }
      .type-vequocte .lulla .font-white .birthday {
        color: #000; }
  .type-vequocte .cphWidget_pnlService {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background: #fff; }
    .type-vequocte .cphWidget_pnlService .service-methodLP {
      border-right: 1px dotted gray;
      padding-right: 20px; }
      .type-vequocte .cphWidget_pnlService .service-methodLP .ticket {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #143a83; }
      .type-vequocte .cphWidget_pnlService .service-methodLP .ticket1 strong {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #143a83; }
      .type-vequocte .cphWidget_pnlService .service-methodLP .img-f {
        text-align: center; }
    .type-vequocte .cphWidget_pnlService .category {
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #143a83;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 1px solid #cdcdcd;
      margin: 5px 0 8px; }
    .type-vequocte .cphWidget_pnlService .pad10 {
      border-bottom: 1px dotted gray;
      padding-bottom: 20px;
      padding-top: 20px; }
    .type-vequocte .cphWidget_pnlService .desc {
      font-size: 12px;
      color: #000;
      text-align: justify;
      overflow: hidden; }
